/* SETUP CSS USING TEMPLATE */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    /*background-color: #425037;*/
    background: linear-gradient(90deg, #425037, #516444);
    color: #DFBA8F;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 24px;
    margin-left: 48px;
    margin-right: 48px;
    min-width: 600px;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    /*max-width: 100%;*/
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}


/* GENERAL STYLES */

h1 {
    font-family: '', bold;
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-family: '', bold;
    font-size: 1.5rem;
}

h3 {
    font-family: '', bold;
    font-size: 1.2rem;
}

div {
    display: flex;
}

a {
    color: #DFBA8F;
    font-family: 'Nunito', sans-serif;
    font-size: larger;
}

p {
    color: #DFBA8F;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    padding-bottom: 8px;
    padding-top: 8px;
}


/* NAVBAR STYLES */

.navbar {
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #DFBA8F;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
}

.navbar a {
    text-decoration: none;
    text-align: center;
    margin-left: 16px;
    display: flex;
    float: right;
}

.navbar a:hover {
    font-weight: bolder;
}


/* PAGE STYLES */

h {
    font-family: 'Chicle', cursive;
    font-size: 700%;
    position: relative;
}

h2 {
    font-family: 'Chicle', cursive;
    font-weight: 400;
    font-size: 480%;
}

h3 {
    font-family: 'Chicle', cursive;
    font-weight: 400;
    font-size: 360%;
}

.heading {
    text-align: left;
}

.hannah-images {
    margin-right: 12px;
    flex: 1;
}

.page-content {
    opacity: 0;
    /* Initially, set the opacity to 0 */
    transition: opacity 0.5s ease-in-out;
    /* Add a transition effect */
}

.hannah-pic {
    height: auto;
    width: auto;
    max-width: 100%;
}

.creative-dev {
    flex: auto;
    display: inline;
    margin-left: 50px;
    text-align: right;
    flex: 2;
}

.body-content {
    margin-top: 24px;
}

.sound-designer {
    margin-top: 24px;
}


/* STYLES FOR PORTFOLIO PAGE */

.portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-text {
    margin: 16px;
    font-size: 0.8rem;
    text-align: center;
}

.portfolio-item {
    width: 32%;
    background-color: #f0f0f0;
    margin-top: 16px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    background-color: #425037;
}

.portfolio-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c2d1ad0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.portfolio-item .overlay a {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

.portfolio-item a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    background-color: #ba8c58;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.portfolio-item a:hover {
    background-color: #8aab81;
}

/* STYLES FOR CONTACT */

/* Media query for smaller screens */
@media (max-width: 768px) {
    .portfolio-item {
        width: 49%;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    .portfolio-item {
        width: 100%;
    }
}

/* MEDIA TAGS FOR MOBILE SCREEN SIZE ADJUSTMENTS */
@media only screen and (max-width: 1000px) {
    /* Center all elements vertically and stack them */

    /* Center the heading */
    h,
    .sound-designer {
        text-align: center;
        margin: 0 auto;
    }

    /* Center the image and maintain a constant height and width */
    .hannah-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .hannah-pic {
        width: 400px;
        /* Adjust the width to your desired size */
        height: 400px;
        /* Adjust the height to your desired size */
        max-width: 100%;
        height: auto;
    }

    /* Center the h2 and description text */
    h2,
    .description {
        text-align: center;
        margin: 0 auto;
    }

    .body-content {
        flex-wrap: wrap;
        display: inline-block;
        margin-top: 0px;
    }

    navbar a {
        font-size: larger;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16vh;
    }

}